{% extends 'base.html'%}
{% block title %}
Doctors Page
{% endblock %}
{% block content %}
<!-- helps to align images in row and column-->
<div class="container mt-3"> 
    <div class="row">
        <!-- -->
        {% for d in doc %}
        <div class="card" style="width : 20rem; ">
            <img src="{{d.doc_image.url}}" alt="Card image cap" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{d.doc_name}}</h5>
                <p class="card-text">{{d.doc_spec}}</p>
                <h6>{{d.dep_name}}</h6>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}